snippet header "文档注释" b
// +---------------------------------------------------------------------
// | Description: $0
// +---------------------------------------------------------------------
// | Copyright (c) 2004-`date "+%Y"` 护卫神(http://hws.com) All rights reserved.
// +---------------------------------------------------------------------
// | Author: Wjinlei <1976883731@qq.com>
// +---------------------------------------------------------------------
endsnippet

snippet nobug "神兽护体,代码无bug" b
// 　　　┏┓　　　┏┓
// 　　┏┛┻━━━┛┻┓
// 　　┃　　　　　　　 ┃
// 　　┃　　　━　　　 ┃
// 　　┃　┳┛　┗┳　┃
// 　　┃　　　　　　　 ┃
// 　　┃　　　┻　　　 ┃
// 　　┃　　　　　　　 ┃
// 　　┗━┓　　　┏━┛Codes are far away from bugs with the animal protecting
// 　　　　┃　　　┃    神兽保佑,代码无bug
// 　　　　┃　　　┃
// 　　　　┃　　　┗━━━┓
// 　　　　┃　　　　　 ┣┓
// 　　　　┃　　　　 ┏┛
// 　　　　┗┓┓┏━┳┓┏┛
// 　　　　　┃┫┫　┃┫┫
// 　　　　　┗┻┛　┗┻┛
endsnippet

snippet iferr "if err != nil" b
if err != nil {
	return err
}
endsnippet
